{% extends "students/student_base.html" %}


{% load static %}


{% block table_title %}
    Список студентов
{% endblock table_title %}


{% block head_column_titles %}
    <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 3%" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting_asc">№п/п</th>
    <th aria-label="Browser: activate to sort column ascending" style="width: 265px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting">ФИО</th>
    <th aria-label="Platform(s): activate to sort column ascending" style="width: 229px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting">Email</th>
    <th aria-label="Engine version: activate to sort column ascending" style="width: 152px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting">Пакет</th>
    <th aria-label="CSS grade: activate to sort column ascending" style="width: 53px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting"></th></tr>
{% endblock head_column_titles %}


{% block foot_column_titles %}
    <th colspan="1" rowspan="1">№п/п</th>
    <th colspan="1" rowspan="1">ФИО</th>
    <th colspan="1" rowspan="1">Email</th>
    <th colspan="1" rowspan="1">Пакет</th>
    <th colspan="1" rowspan="1"></th>
{% endblock foot_column_titles %}


{% block table_content %}
    {% for student in students %}
        {% if forloop.counter|divisibleby:"2" %}
        <tr class="odd">
        {% else %}
        <tr class="even">
        {% endif %}
            <td class="  sorting_1">{{ forloop.counter }}</td>
            <td class=" ">
                <a href="{% url 'students:student-detail' student.id %}">
                    {{ student.surname }} {{ student.name }}
                </a>
            </td>
            <td class=" ">{{ student.email }}</td>
            <td class=" ">{{ student.get_package_display }}</td>
            <td class=" ">
                <a href="{% url 'students:student-create' %}"><i class="fa fa-plus-square fa-half-size"></i></a>
                <a href="{% url 'students:student-edit' student.id %}"><i class="fa fa-pencil-square fa-half-size"></i></a>
                <a href="{% url 'students:student-delete' student.id %}"><i class="fa fa-minus-square fa-half-size"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_content %}