{% extends "students/student_base.html" %}


{% load static %}
{% load i18n %}


{% block content %}
<div class="row placeholders">
    <div class="col-xs-6 col-sm-6 placeholder ">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="box box-primary">
                <div class="box-header">
                    <div class="form-group has-warning">
                        <h3 class="box-title">
                            <label class="control-label"><i class="fa fa-warning"></i>
                                {% trans 'Удалить студента' %}?
                            </label>
                        </h3>
                    </div>
                </div>
                <div class="box-body">
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="form-group has-error">
                            <label class="control-label" for="{{ form.id_for_label }}">
                                <i class="fa fa-times-circle-o"></i> {{ field.label }}  {{ field.errors.0 }}
                            </label>
                        {% else %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% endif %}
                            {{ field.as_widget }}
                        </div>
                    {% endfor %}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">{% trans 'Удалить' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}