{% load i18n %}


<div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
        <li><a href="#tab_2" data-toggle="tab">{% trans 'Досье' %}</a></li>
        <li class="active"><a href="#tab_1" data-toggle="tab">{% trans 'Посещаемые курсы' %}</a></li>
        <li class="pull-left header"><i class="fa fa-th"></i>{% trans 'Дополнительная информация' %}:</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Курс' %}</th>
                        <th>{% trans 'Дата начала' %}</th>
                        <th>{% trans 'Дата окончания' %}</th>
                    </tr>
                    {% for course in student.courses.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'courses:course-detail' course.id %}">
                                {{ course.course_name }}
                            </a>
                        </td>
                        <td>{{ course.start_date }}</td>
                        <td>{{ course.end_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <div class="panel box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    {% trans 'Нелюбимые курсы' %}:
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="collapseOne" class="panel-collapse collapse">
                            <div class="box-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <th>{% trans 'Курс' %}</th>
                                            <th>{% trans 'Дата начала' %}</th>
                                            <th>{% trans 'Дата окончания' %}</th>
                                        </tr>
                                        {% for unloved_course in student.dossier.unloved_courses.all %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <a href="{% url 'courses:course-detail' unloved_course.id %}">
                                                    {{ unloved_course.course_name }}
                                                </a>
                                            </td>
                                            <td>{{ unloved_course.start_date }}</td>
                                            <td>{{ unloved_course.end_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Адрес:
                                </a>
                            </h4>
                        </div>
                        <div style="" id="collapseTwo" class="panel-collapse collapse in">
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'Индекс' %}:</dt>
                                        <dd>{{ student.dossier.address.index }}</dd>
                                    <dt>{% trans 'Страна' %}:</dt>
                                        <dd>{{ student.dossier.address.country }}</dd>
                                    <dt>{% trans 'Область' %}:</dt>
                                        <dd>{{ student.dossier.address.district }}</dd>
                                    <dt>{% trans 'Райен' %}:</dt>
                                        <dd>{{ student.dossier.address.region }}</dd>
                                    <dt>{% trans 'Улица' %}:</dt>
                                        <dd>{{ student.dossier.address.street }}</dd>
                                    <dt>{% trans 'Дом' %}:</dt>
                                        <dd>{{ student.dossier.address.house }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    {% trans 'Любимый цвет' %}:
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="collapseThree" class="panel-collapse collapse">
                            <div class="box-body">
                                {{ student.dossier.get_favorite_color_display }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>