{% extends "students/student_base.html" %}


{% load static %}


{% block content %}
<h1>
{{ student.name }} {{ student.surname }}
</h1>
<hr/>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-2 placeholder ">
        <img style="width: 150px; height: 200px;"
        class="img-thumbnail"
        alt="Фото"
        src="{% static 'img/' %}{{ student.photo.name|slice:'2:'|default:'pylogo.jpeg' }}">
    </div>
    <div class="col-xs-6 col-sm-7 placeholder">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Персональные данные:
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Дата рождения:</strong>{{ student.birth_date }}</td>
                </tr>
                <tr>
                    <td><strong>Мобильный:</strong>{{ student.phone }}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong>{{ student.email }}</td>
                </tr>
                <tr>
                    <td><strong>Пакет:</strong>{{ student.get_package_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="{% url 'students:student-create' %}"><i class="fa fa-plus-square fa-half-size"></i></a>
        <a href="{% url 'students:student-edit' student.id %}"><i class="fa fa-pencil-square fa-half-size"></i></a>
        <a href="{% url 'students:student-delete' student.id %}"><i class="fa fa-minus-square fa-half-size"></i></a>
    </div>
</div>
<br/>
{% include "students/student_addinfo.html" with student=student %}
{% endblock content %}