{% extends "students/student_base.html" %}


{% load static %}


{% block content %}
<h1>
{{ student.name }} {{ student.surname }}
</h1>
<hr/>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-2 placeholder ">
        <img style="width: 150px; height: 200px;"
        class="img-thumbnail"
        alt="Фото"
        src="{% static 'img/' %}{{ student.photo.name|slice:'2:'|default:'pylogo.jpeg' }}">
    </div>
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-thumb-tack"></i>
                <h3 class="box-title">Персональные данные:</h3>
                <div class="pull-right">
                    <a href="{% url 'students:student-create' %}"><i class="fa fa-plus-square fa-half-size"></i></a>
                    <a href="{% url 'students:student-edit' student.id %}"><i class="fa fa-pencil-square fa-half-size"></i></a>
                    <a href="{% url 'students:student-delete' student.id %}"><i class="fa fa-minus-square fa-half-size"></i></a>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Дата рождения:</dt>
                            <dd>{{ student.birth_date }}</dd>
                        <dt>Мобильный:</dt>
                            <dd>{{ student.phone }}</dd>
                        <dt>Email:</dt>
                            <dd>{{ student.email }}</dd>
                        <dt>Пакет:</dt>
                            <dd>{{ student.get_package_display }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-thumb-tack"></i>
                <h3 class="box-title">Вы также можете:</h3>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <!--<form action="{% url 'mail' %}" role="form" method="get">-->
                            <!--{% csrf_token %}-->
                            <!--<input hidden="True" type="text" name="email-from" value="{{ student.email }}">-->
                            <!--<button type="submit" class="btn btn-primary">Наябидничать тренеру</button>-->
                        <!--</form>-->
                        <a href="{% url 'mail' %}"><input type="button" value="Наябидничать тренеру"></a>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>
<br/>
{% include "students/student_addinfo.html" with student=student %}
{% endblock content %}