{% extends "students/student_base.html" %}


{% load static %}


{% block content %}
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>ФИО</th>
            <th>Email</th>
            <th>Пакет</th>
            <th>...</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr class="odd gradeX">
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'students:student-detail' student.id %}">
                    {{ student.surname }} {{ student.name }}
                </a>
            </td>
            <td>{{ student.email }}</td>
            <td>{{ student.get_package_display }}</td>
            <td>
                <a href="{% url 'students:student-create' %}"><i class="fa fa-plus-square fa-half-size"></i></a>
                <a href="{% url 'students:student-edit' student.id %}"><i class="fa fa-pencil-square fa-half-size"></i></a>
                <a href="{% url 'students:student-delete' student.id %}"><i class="fa fa-minus-square fa-half-size"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
