{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PyBursa</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="{% static 'css/morris/morris.css' %}" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="{% static 'css/jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
        <!-- Date Picker -->
        <link href="{% static 'css/datepicker/datepicker3.css' %}" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="{% static 'css/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="{% static 'css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="{% static 'css/pybursa_main.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body class="skin-blue">
        <header class="header">
            <a href="/" class="logo">PyBursa&nbsp&nbsp</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Main menu -->
            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{% static 'img/pylogo2.jpeg' %}" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Professional</p>
                            <p id="title-logo-paddings">Python courses</p>
                        </div>
                    </div>
                    <!-- sidebar user menu -->
                    <ul class="sidebar-menu">
                         <li {% block mainpage %} {#class="active"#} {% endblock mainpage %}>
                            <a href="/">
                                <i class="fa fa-home"></i><span>Главная</span>
                            </a>
                        </li>
                        <li {% block students-active %} {#class="active"#} {% endblock students-active %}>
                            <a href="{% url 'students:index' %}">
                                <i class="fa fa-graduation-cap"></i><span>Студенты</span>
                            </a>
                        </li>
                        <li {% block coache-active %} {#class="active"#} {% endblock coache-active %}>
                            <a href="{% url 'coaches:index' %}">
                                <i class="fa fa-user"></i><span>Преподаватели</span>
                            </a>
                        </li>
                         <li {% block course-active %} {#class="active"#} {% endblock course-active %}>
                            <a href="{% url 'courses:index' %}">
                                <i class="fa fa-book"></i><span>Курсы</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </aside>
            <aside class="right-side">
                <section class="content-header">
                    {% block title %} {% endblock title %}
                </section>
                <!-- Main content -->
                <section class="content">
                    {% block content %} {% endblock content %}
                </section>
            </aside>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="{% static 'js/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="{% static 'js/plugins/sparkline/jquery.sparkline.min.js' %}" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="{% static 'js/plugins/jqueryKnob/jquery.knob.js' %}" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
        <!-- datepicker -->
        <script src="{% static 'js/plugins/datepicker/bootstrap-datepicker.js' %}" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{% static 'js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'js/AdminLTE/app.js' %}" type="text/javascript"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="{% static 'js/AdminLTE/dashboard.js' %}" type="text/javascript"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{% static 'js/AdminLTE/demo.js' %}" type="text/javascript"></script>
    </body>
</html>
