{% load static %}
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="{% static 'assets/img/find_user.png' %}" class="user-image img-responsive"/>
            </li>
            <li>
                <a class="active-menu"  href="/students/"><i class="fa fa-users fa-3x"></i> Студенты</a>
            </li>
            <li>
                <a href="/coaches/"><i class="fa fa-user fa-3x"></i> Преподаватели</a>
            </li>
            <li>
                <a href="/courses/"><i class="fa fa-keyboard-o fa-3x"></i></i> Курсы</a>
            </li>
        </ul>
    </div>
</nav>
