{% extends "base.html" %}

{% block nav-bar %}
    {% include "navbar-side-courses.html" %}
{% endblock nav-bar %}

{% block content %}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
         <h2>{{ course.course_name }}</h2>
            <h5>Detailed information </h5>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <tr class="odd gradeX">
                                <td><strong>Язык программирования</strong></td>
                                <td>{{ course.get_programming_len_display }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td><strong>Описание</strong></td>
                                <td>{{ course.description }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td><strong>Преподаватель</strong></td>
                                <td>{{ course.teacher }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td><strong>Ассистент</strong></td>
                                <td>{{ course.assistant }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td><strong>Дата начала</strong></td>
                                <td>{{ course.start_date }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td><strong>Дата окончания</strong></td>
                                <td>{{ course.end_date }}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}