{% extends "courses/course_base.html" %}


{% load static %}


{% block content %}
<div class="row placeholders">
    <div class="col-xs-6 col-sm-6 placeholder ">
        <form method="post">
            {% csrf_token %}
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ title }}</h3>
                </div>
                {{ form.as_p }}
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}