<div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#tab_1" data-toggle="tab">Досье</a></li>
        <li class="pull-left header"><i class="fa fa-th"></i> Дополнительная информация:</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <div class="panel box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Нелюбимые курсы:
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="collapseOne" class="panel-collapse collapse">
                            <div class="box-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <th>Курс</th>
                                            <th>Дата начала</th>
                                            <th>Дата окончания</th>
                                        </tr>
                                        {% for unloved_course in coach.dossier.unloved_courses.all %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <a href="{% url 'courses:course-detail' unloved_course.id %}">
                                                    {{ unloved_course.course_name }}
                                                </a>
                                            </td>
                                            <td>{{ unloved_course.start_date }}</td>
                                            <td>{{ unloved_course.end_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Адрес:
                                </a>
                            </h4>
                        </div>
                        <div style="" id="collapseTwo" class="panel-collapse collapse in">
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>Индекс:</dt>
                                        <dd>{{ coach.dossier.address.index }}</dd>
                                    <dt>Страна:</dt>
                                        <dd>{{ coach.dossier.address.country }}</dd>
                                    <dt>Область:</dt>
                                        <dd>{{ coach.dossier.address.district }}</dd>
                                    <dt>Райен:</dt>
                                        <dd>{{ coach.dossier.address.region }}</dd>
                                    <dt>Улица:</dt>
                                        <dd>{{ coach.dossier.address.street }}</dd>
                                    <dt>Дом:</dt>
                                        <dd>{{ coach.dossier.address.house }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Любимый цвет:
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="collapseThree" class="panel-collapse collapse">
                            <div class="box-body">
                                {% if coach.dossier.get_favorite_color_display %}
                                    {{ coach.dossier.get_favorite_color_display }}
                                {% else %}
                                    Не указано.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>