{% extends "coaches/coach_base.html" %}


{% load static %}


{% block content %}
<h1>{{ coach.surname }} {{ coach.name }}</h1>
<hr/>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-2 placeholder">
        <img style="width: 150px; height: 200px;"
             class="img-thumbnail"
             alt="Фото"
             src="{% static 'img/' %}{{ coach.photo.name|slice:'2:'|default:'pylogo.jpeg' }}">
    </div>
    <div class="col-xs-6 col-sm-7 placeholder">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Персональные данные:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Дата рождения:</strong>{{ coach.birth_date }}</td>
                </tr>
                <tr>
                    <td><strong>Мобильный:</strong>{{ coach.phone }}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong>{{ coach.email }}</td>
                </tr>
                <tr>
                    <td><strong>Роль:</strong>{{ coach.get_role_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="{% url 'coaches:coach-create' %}"><i class="fa fa-plus-square fa-half-size"></i></a>
        <a href="{% url 'coaches:coach-edit' coach.id %}"><i class="fa fa-pencil-square fa-half-size"></i></a>
        <a href="{% url 'coaches:coach-delete' coach.id %}"><i class="fa fa-minus-square fa-half-size"></i></a>
    </div>
</div>
<br/>
{% include "coaches/coach_addinfo.html" with coach=coach %}
{% endblock content %}